@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  border: none;
}
#map {
  margin: 1rem auto; /* Centrará el mapa y proporciona espacio alrededor */
  width: 90%;
  max-width: 900px;
  height: 60vh;
  border-radius: 0.8rem;
  overflow: hidden; /* Controla el desbordamiento en ambos ejes */
}

/* Ejemplo de media queries para ajuste específico en pantallas más pequeñas */
@media (max-width: 768px) {
  #map {
    width: 100%; /* Ajusta el ancho al 100% en pantallas pequeñas */
    height: 50vh; /* Ajusta la altura en pantallas pequeñas */
    margin: 0.5rem auto; /* Reduce el margen en pantallas pequeñas */
  }
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}
.leaflet-container {
  width: 100%;
  height: 60vh;
}

.custom-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin; /* Solo para Firefox */
  scrollbar-color: #3b5254 #2a2727; /* Color del "thumb" y del fondo */
}

/* Estilos para WebKit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
